a {
    font-style: italic;
}

body {
    background-color: rgb(219, 244, 156);
}

footer {
    border: 4mm ridge;
    background-color: rgb(219, 244, 156);
}

h1 {
    color: rgb(245, 183, 13);
    text-align: center;
}

h2 {
    color: rgb(11, 165, 220);
    text-align: start;
}

header {
    border: groove;
    background-color: rgb(182, 105, 177);
}

* {
    font-family: Helvetica;
}

li {
    list-style: none;
}

nav {
    color:aqua;
    text-align: center;
}

nav a:hover {
    color:rgb(229, 11, 142);
}

